<div class="container">
  <h1 class="w-full"> All Articles</h1>
  <%= link_to "New Article", new_article_path, class: "button" %>
    <ul class="list">
      <% @articles.each do |article| %>
        <li>
            <%= link_to article.title, article_path(article.id) %>
        </li>
        <% end %>
    </ul>
</div>
