<div class="p-4 flex-col min-h-screen">
  <div class="relative w-full">
    <h1 class="w-full relative w-full"> New Article </h1>
    <%= link_to inline_svg('MaterialSymbolsArrowBack.svg', title: 'Back', class: 'icon'), articles_path,
                class: "square-btn create-article" %>
  </div>
  <%= render 'form' %>
</div>