<div>
    <a href="/articles">Index</a>
    <a href="/articles/new">New Article </a>
    <br>
    <div>
        <div>
            <h1><%= @article.title %></h1>
            <p><%= @article.text %></p>
        </div>
    </div>
</div>