<div class="article-container">
  <div class="flex-col relative">
    <%= render 'top_buttons' %>
    <h1 class="w-full pr-20"><%= @article.title %></h1>
    <p class="article-content"><%= @article.text %></p>
    <%= render 'comment_section' %>
  </div>
</div>